<h2>Create a new Entry:</h2>

<form class="" action="/journal_entries" method="post">
    <label for="content">Content:</label>
    <input id="content" type="text" name="content" value="">

    <input type="submit" value="Create Entry">
</form>