<h2>journal show page</h2>

<% if owns?(@journal_entry) %>
    <a href="/journal_entries/<%= @journal_entry.id %>/edit">Edit Entry</a>
    <a href="">Delete Link</a>
    <p>
<% end %>
<p>
<%= @journal_entry.content %>